﻿@{
    Layout = null;
}
@model CuoiKi.Areas.admin.Models.NguoiDung
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="~/Assets/admin/images/favicon.png">
    <title>Login</title>
    <!--Core CSS -->
    <link href="~/Assets/admin/bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/admin/css/bootstrap-reset.css" rel="stylesheet">
    <link href="~/Assets/admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Assets/admin/css/style.css" rel="stylesheet">
    <link href="~/Assets/admin/css/style-responsive.css" rel="stylesheet" />
</head>
<body class="login-body">
    <div class="container">
        <div class="form-signin">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                <h2 class="form-signin-heading">TRANG ĐĂNG NHẬP</h2>
                <div class="login-wrap">
                    <div class="user-login-info">
                        @Html.TextBoxFor(model => model.tenTK, new { @class = "form-control", @placeholder = "Tên tài khoản", @autofocus = "autofocus" })
                        @Html.TextBoxFor(model => model.matKhau, new { @class = "form-control", @placeholder = "Mật khẩu", @type = "password" })
                    </div>
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me"> Nhớ tài khoản
                        <span class="pull-right">
                            <a data-toggle="modal" href="#myModal"> Quên mật khẩu?</a>
                        </span>
                    </label>
                    <button class="btn btn-lg btn-login btn-block" type="submit">Đăng nhập</button>
                    <div class="registration">
                        Vẫn chưa có tài khoản?
                        <a class="" href="registration.html">
                            Tạo tài khoản
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Placed js at the end of the document so the pages load faster -->
    <!--Core js-->
    <script src="~/Assets/admin/js/jquery.js"></script>
    <script src="~/Assets/admin/bs3/js/bootstrap.min.js"></script>
</body>
</html>
