﻿@model CuoiKi.Areas.admin.Models.SanPham

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fa fa-home"></i> &nbsp;  Chỉnh Sửa Sản Phẩm
}


@using (Html.BeginForm("Edit", "SanPham", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card mt-5">
        <div class="card-body pt-lg-5">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="card">
                        <h4 class="card-title mb-md-3">Thông tin chung</h4>
                        <div class="card-content">
                            <div class="card-body padding-0">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12">
                                            @Html.ValidationSummary(true, "", new { @class = "invalid-feedback d-block" })
                                            @Html.HiddenFor(model => model.id)
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.tenSanPham, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.tenSanPham, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.tenSanPham, "", new { @class = "invalid-feedback d-block" })
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.soLuong, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.soLuong, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.soLuong, "", new { @class = "invalid-feedback d-block" })
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.gia, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.gia, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.gia, "", new { @class = "invalid-feedback d-block" })
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.maDM, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.maDM, (IEnumerable<SelectListItem>)ViewBag.danhMuc, "--chọn loại sản phẩm--", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.maDM, "", new { @class = "invalid-feedback d-block" })
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.listSize, htmlAttributes: new { @class = "control-label" })
                                                <div>
                                                    @for (int i = 29; i <= 40; i++)
                                                    {
                                                        <span class="checkbox-inline me-xl-4">
                                                            <input type="checkbox" 
                                                                   name="listSize"
                                                                   value="@i"
                                                                   @if (Model.listSize != null) { if (Model.listSize.Contains(@i)) { <text> checked </text> } } /> &nbsp;&nbsp;@i
                                                            </span>
                                                        }
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <button type="submit" class="btn btn-primary">Lưu</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

