﻿@model IEnumerable<CuoiKi.Areas.admin.Models.DanhMuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    <a href="~/Areas/admin/Views/DanhMuc/Index.cshtml"></a>
}

@section header{
    <i class="fa fa-bars"></i> &nbsp; Quản Lý Danh Mục Sản Phẩm
}
<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <h4 class="card-title">Danh sách danh mục</h4>
                    </div>
                    <div class="col-12 col-lg-3 d-flex justify-content-end">
                        @Html.ActionLink("+ Thêm mới danh mục", "Create", "DanhMuc", new { @class = "btn btn-outline-primary" })
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="form-group position-relative has-icon-left">
                        <input type="text" id="search-danhmuc" class="form-control" placeholder="Tìm kiếm danh mục">
                        <div class="form-control-icon">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="danhmuc-table" class=" table table-lg table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">STT</th>
                                    <th class="text-center">
                                        @Html.DisplayNameFor(model => model.tenDanhMuc)
                                    </th>
                                    <th class="text-center">Acction</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr id="dm_@item.id">
                                        <td class="text-center">@i</td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.tenDanhMuc)
                                        </td>
                                        <td class="text-center">
                                            <a href="@Url.Action("Edit", "DanhMuc", new { @id = item.id })" class="edit-btn custom-btn">
                                                <i class="bi bi-pencil-fill"></i>
                                            </a>
                                            <button class="remove-btn custom-btn" onclick="removeRow(@item.id,'/Admin/DanhMuc/Delete', 'dm_@item.id')">
                                                <i class="bx bx-x"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                        <div id="danhmuc-null" class="null-feedback"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



